<!DOCTYPE html>
<html class="{{ is_dark_mode_on ? 'app-mode' : '' }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Booknooks resources{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {{ vite_entry_link_tags('styles') }}
        {{ vite_entry_link_tags('app') }}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <div id="app"></div>

    {{ vite_entry_script_tags('app') }}
    </body>
</html>
